<% if (products) { %>
  <div class="content row row-cols-1 row-cols-md-6">
    <% products.forEach(function(product) { %>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="http://<%= product.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="product-title">
              <%= product.brand %>
            </div>
            <div class="card-text">
              <%= product.description %>
            </div>
            <% if (product.disccount) { %>
            <div class="offer mt-3">
              <span class="product-offer-price mr-2">
                <%= product.offerPrice %>
              </span>
                <span class="badge badge-pill badge-danger disccount">
                  <%= product.disccount %>%
                </span>
              </div>
              <% } %>
              <div class="product-price<%= product.disccount ? '-disccount' : '' %>">
                <%= product.fullPrice %>
              </div>
          </div>
        </div>
      </div>
      <% }); %>
  </div>
  <% } %>