<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head'); -%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <div class="container-fluid content">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <%- include('./partials/scripts'); -%>
  </body>
  <footer>
    <%- include('./partials/footer'); -%>
  </footer>
</html>
