<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>
    <title>Search Results</title>
</head>

<body>
    <%- include('./partials/loading'); -%>
    <%- include('./partials/header'); -%>
        <div class="container-fluid content">
            <div id="results"></div>
        </div>
        <%- include('./partials/scripts'); -%>
        <script src="/javascripts/search.js"></script>
</body>
<footer>
    <%- include('./partials/footer'); -%>
</footer>

</html>